.selected::placeholder{
    color: brown;
}

.selected{
    border-bottom: 1px solid brown;
}

.disabled{
    color: rgb(128, 128, 128);
    background-color: rgba(128, 128, 128, 0.7);
    cursor: default;
}
